extends layout

block content
    p
      a(href='/') Back to Home
      
    if user
        h1 Send Message
        form(action='' method='POST')
            label(for='title') Title
            input(name='title' type='text' required="true")
            label(for='message') Message
            input(name='message' type='text' required="true")
            button(type='submit') Send
        if errors
            each error in errors
                li!= error.msg
    else 
        p Please log in to send a message.
    